@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  #login {
    flex-direction: column;
    padding: 1rem;
  }
  #div_login {
    width: 100vw;
  }
  #lado_direito_login {
    display: none;
  }

}